html {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Estilos para os botões */
.estilo-botoes {
    text-align: center;
    margin: 20px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #EF9947;
    border-radius: 5px;
    outline: 2px solid white;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #DD7613;
}

.botao-escuro {
    outline: 2px solid black;
    color: black;
}

.corpo {
    overflow-y: scroll;
    flex-grow: 1;
    width: 100%;
    background-color: #f1f1f1;
    scroll-behavior: smooth;
}

/* Estilos para as seções */
.seccao {
    height: 500px; 
    align-items: center;
    justify-content: center;
    font-size: 24px;
    padding: 10px;
}

input, textarea {
    font-size: 24px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.espacamento-secao {
    margin-bottom: 50%;
}

